@import url('https://fonts.googleapis.com/css?family=Faster+One&display=swap'); /* police du titre */

@import url('https://fonts.googleapis.com/css?family=Orbitron:400,900&display=swap'); /* police du compteur */

@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap'); /*vpolice du sous-titre */

@import url('https://fonts.googleapis.com/css?family=Warnes&display=swap'); /* police des tags 'minutes' 'secondes' */

@import url('https://fonts.googleapis.com/css?family=Seymour+One&display=swap'); /* police des cercles (données utilisateurs) */

@import url('https://fonts.googleapis.com/css?family=Fascinate&display=swap'); /* police du bouton 'ON' */

/* margin: 0 & padding 0 & box-sizing: border-box -> pour ajuster la taille de l'écran et éviter les débordements*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 3px solid red; */
}

/*  */
#diaporama {
  width: 100%;
  height: 100vh;
  background-position: center; /*l'écran est positionné sur le centre de la photo */
  background-size: cover;
  background-repeat: no-repeat;
  animation: diapo 90s ease-in-out infinite; /* propriété shorthand qui comprend le nom de l'animation qui va créer le diaporama la vitesse d'enchainement des images */
}

/* animation du diaporama d'images */
@keyframes diapo {
  0% {
    background-image: url(../images/1.jpg);
  }
  10% {
    background-image: url(../images/2.jpg);
  }
  20% {
    background-image: url(../images/3.jpg);
  }
  30% {
    background-image: url(../images/4.jpg);
  }
  40% {
    background-image: url(../images/5.jpg);
  }
  50% {
    background-image: url(../images/6.jpg);
  }
  60% {
    background-image: url(../images/7.jpg);
  }
  70% {
    background-image: url(../images/8.jpg);
  }
  80% {
    background-image: url(../images/9.jpg);
  }
  90% {
    background-image: url(../images/10.jpg);
  }
  100% {
    background-image: url(../images/11.jpg);
  }
}

/* position: relative & bottom: 50px -> pour pouvoir positionner le titre un peu plus en hauteur */
/* text-align: center pour center le texte */
#title {
    position: relative;
    text-align: center;
    font-family: 'Faster One', cursive;
    font-size: 50px;
    bottom: 10px;
    color: white;
}

/* sous-titre 'In Minutes' idem que pour le titre en terme de positionnement*/
#subtitle {
    position: relative;
    text-align: center;
    bottom: 30px;
    color: white;
    font-family: 'Caveat', cursive;
    font-size: 45px;
}

/* cercle minutes */
#mins {
    position: absolute;
    margin-left: 75px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    text-align: center;
    animation:  8s circleone infinite; 
    border: none;
    bottom: 415px;
}

/* cercle secondes */
#scs {
  position: absolute;
  margin-left: 195px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  text-align: center;
  animation:  8s circletwo infinite; 
  border: none;
  bottom: 415px;
}


input {
  font-size: 40px;
  font-family: 'Seymour One', sans-serif;
}

/* tags 'minutes' 'secondes' -> position: absolute (meilleure option), text align:center pour centrer le texte dans les tags
 */
.choice {
  position: absolute;
  width: 70px;
  height: 25px;
  text-align: center;
  border-radius: 5px;
  background-color: black;
  color: white;
  font-size: 15px;
  font-family: 'Warnes', cursive;
}

/* positionnenment des tags 'minutes' et 'secondes' sur les cotés gauches et droit des cercles */
#minutes-label {
  left: 50px;
  bottom: 495px;
}

#seconds-label {
  left: 330px;
  bottom: 495px;
}

/* animation de dégradé de couleurs via des keyframes pour le background du cercle dédié aux minutes */
  @keyframes circleone {
      0%{background-color: #ff0066}
      5%{background-color: #f7006e}
      10%{background-color: #f00075}
      15%{background-color: #e8007d}
      20%{background-color: #e00085}
      25%{background-color: #d9008c}
      30%{background-color: #d10094}
      35%{background-color: #c9009c}
      40%{background-color: #c200a3}
      45%{background-color: #ba00ab}
      50%{background-color: #b200b2}
      55%{background-color: #ab00ba}
      60%{background-color: #a300c2}
      65%{background-color: #9c00c9}
      70%{background-color: #9400d1}
      75%{background-color: #8c00d9}
      80%{background-color: #8500e0}
      85%{background-color: #7d00e8}
      90%{background-color: #7500f0}
      95%{background-color: #6e00f7}
      100%{background-color: #6600ff}
    }

/* animation de dégradé de couleurs via des keyframes pour le background du cercle dédié aux secondes */   
  @keyframes circletwo {
      0%{background-color:  #6600ff}
      5%{background-color:  #6e00f7}
      10%{background-color: #7500f0}
      15%{background-color: #7d00e8}
      20%{background-color: #8500e0}
      25%{background-color: #8c00d9}
      30%{background-color: #9400d1}
      35%{background-color: #9c00c9}
      40%{background-color: #a300c2}
      45%{background-color: #ab00ba}
      50%{background-color: #b200b2}
      55%{background-color: #ba00ab}
      60%{background-color: #c200a3}
      65%{background-color: #c9009c}
      70%{background-color: #d10094}
      75%{background-color: #d9008c}
      80%{background-color: #e00085}
      85%{background-color: #e8007d}
      90%{background-color: #f00075}
      95%{background-color: #f7006e}
      100%{background-color: #ff0066}
    }  

/* bouton de démarrage du compteur 'ON' */
  #btnOn {
    position: absolute;
    bottom: 350px;
    left: 200px;
    width: 80px;
    height: 40px;
    border-radius: 40px;
    border: none;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Fascinate', cursive;
    background-color: #7d00e8;
  }

/* balise div contenant les chiffre du compte à rebour (eux même placés grâce à des balises span) */
  .container {
    width: 100%;
    margin-top: 310px;
    font-size: 150px;
    color: magenta;
    font-family: 'Orbitron', sans-serif;
  }

/* Merci à Nicolas! margin: 0 auto -> astuce pour bloquer les chiffres et éviter qu'il se décalent lors du décompte width: 31% aide amieux centrer l'élément */
  .display-timer {
    width: 31%;
    margin: 0 auto;
  }

  /* .btnOff {
    position: absolute;
    bottom: 25px;
    left: 725px;
    width: 80px;
    height: 40px;
    border-radius: 40px;
    border: none;
    font-weight: bold;
    background-color: #7d00e8;
  } */
